{% extends 'blog/base.html' %}
{% block content %}
    <header>
        <h1>Django Blog - About</h1>
    </header>
    <main>
        <div class="contact-form">
            <h2>Get in Touch</h2>
            <p>If you have any questions, suggestions, or just want to say hello, please fill out the form below:</p>
            <form action="submit_form.php" method="POST">
                <input type="text" id="name" name="name" required>
                <br>
                <input type="text" id="email" name="email" required>
                <br>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </main>
{% endblock %}
