{% extends 'blog/base.html' %}
{% block content %}
    <header>
        <h1>Blog - Home</h1>
    </header>
    <main>
        <h2>Welcome to My Blog</h2>
        <p>Welcome to my blog! Here, you'll find a variety of articles and posts on different topics.</p>
        <p>Feel free to explore and enjoy the content.</p>
    </main>
    {% for post in posts %}
        <hr>
        <h3>{{ post.title }}</h3>
        <p>By {{ post.author }} on {{ post.date_posted }}</p>
        <p>{{ post.content }}</p>
        <hr>
    {% endfor %}
{% endblock %}
